*.iml
.secret
.secrets
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build-logic/build
/build-logic/plugins/convention/build
/build
/buildSrc/build
/captures
.externalNativeBuild
.cxx
local.properties
androidApp/build
androidApp/libs
.idea
.kotlin
androidApp/private_key.pepk
androidApp/google-services.json
androidApp/keystore.jks
desktop/build
wearApp/build
keys.properties
# iosApp
instances/iosApp/Pods
instances/iosApp/Podfile.lock
instances/wearApp/build
instances/wearApp/keystore.jks
instances/androidApp/build
instances/androidApp/keystore.jks
instances/androidApp/google-services.json
# Services
modules/services/api-empireapi/build
modules/services/build-konfig/build
modules/services/core/build
modules/services/core-resources/build
modules/services/core-ui/build
modules/services/wear-messenger/api/build
modules/services/wear-messenger/ping-wear/build
modules/services/wear-messenger/common/build
# Features ----------------------------------
modules/features/info/ui/build
modules/features/map/ui/build
modules/features/rating/impl/build
modules/features/rating/ui/build
modules/features/root/api/build
modules/features/root/impl/build
modules/features/root/ui/build
modules/features/splash/impl/build
modules/features/splash/ui/build
modules/features/status/impl/build
modules/features/status/ui/build
modules/features/theme/api/build
modules/features/theme/impl/build
modules/features/theme/ui/build
modules/features/towns/impl/build
modules/features/towns/ui/build
modules/features/tabs/impl/build
modules/features/tabs/ui/build