*.iml
.secret
.secrets
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build-logic/build
/build-logic/plugins/convention/build
/build
/buildSrc/build
/captures
.externalNativeBuild
.cxx
local.properties
androidApp/build
androidApp/libs
.idea
androidApp/private_key.pepk
androidApp/google-services.json
androidApp/keystore.jks
desktop/build
wearApp/build
keys.properties
# iosApp
instances/iosApp/Pods
instances/iosApp/Podfile.lock
instances/wearApp
instances/androidApp
# Services
modules/services/api-empireapi/build
modules/services/build-konfig/build
modules/services/core/build
modules/services/core-resources/build
modules/services/core-ui/build
modules/services/wear-messenger/build
# Features ----------------------------------
modules/features/rating/impl/build
modules/features/root/impl/build
modules/features/root/impl/impl.podspec
modules/features/splash/impl/build
modules/features/status/impl/build
modules/features/theme/impl/build
modules/features/towns/impl/build