*.iml
.secret
.secrets
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build-logic/build
/build-logic/plugins/convention/build
/build
/buildSrc/build
/captures
.externalNativeBuild
.cxx
local.properties
androidApp/build
androidApp/libs
.idea
androidApp/private_key.pepk
androidApp/google-services.json
androidApp/keystore.jks
desktop/build
wearApp/build
keys.properties
# iosApp
iosApp/Pods
iosApp/Podfile.lock
# Services
modules/services/resources/build
modules/services/core-ui/build
modules/services/core/build
modules/services/locale/build
modules/services/file_system/build
modules/services/xlsx/build
modules/services/xlsx/libs
modules/services/ads-yandex/build
modules/services/wear-messenger/build
# Features ----------------------------------
modules/features/dialog-confirm/build
modules/features/words-local/build
modules/features/settings/build
modules/features/lesson/build
modules/features/dicts-local/build
modules/features/dicts-remote/build
# Faq
modules/features/faq/build
modules/features/ui/build
# Splash
modules/features/root/build
modules/features/splash/build
modules/features/splash/logic/build
modules/features/splash/ui/build
# Paging
modules/features/paging/build
# Onboard
modules/features/onboard/build
modules/features/ui/onboard/build
modules/features/ui/splash/build
modules/features/common/build
modules/features/ui/common/build