name: "detekt-validation"
on:
  workflow_call:
    secrets:
      ACTIONS_TOKEN:
        required: true
      KEY_ALIAS:
        required: true
      KEY_PASSWORD:
        required: true
      STORE_PASSWORD:
        required: true
      KEYSTORE_BASE64:
        required: true
      GSERVICES_BASE64:
        required: true
jobs:
  publish:
    name: Build and upload
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Git repo
        uses: actions/checkout@v2
      - uses: christian-draeger/read-properties@1.1.1
        id: properties
        with:
          path: './gradle.properties'
          properties: 'makeevrserg.project.name makeevrserg.project.version.string'
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 17
      - name: Give gradle permission
        run: chmod +x gradlew
      - name: Build with Gradle android
        uses: gradle/gradle-build-action@v2
        env:
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
          STORE_PASSWORD: ${{ secrets.STORE_PASSWORD }}
          KEYSTORE_BASE64: ${{ secrets.KEYSTORE_BASE64 }}
          GSERVICES_BASE64: ${{ secrets.GSERVICES_BASE64 }}
        with:
          arguments: :instances:androidApp:assembleRelease --stacktrace
      - name: Build with Gradle wear
        uses: gradle/gradle-build-action@v2
        env:
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
          STORE_PASSWORD: ${{ secrets.STORE_PASSWORD }}
          KEYSTORE_BASE64: ${{ secrets.KEYSTORE_BASE64 }}
          GSERVICES_BASE64: ${{ secrets.GSERVICES_BASE64 }}
        with:
          arguments: :instances:wearApp:assembleRelease --stacktrace
      - name: Create release
        id: create_internal_release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.ACTIONS_TOKEN }}
        with:
          files: |
            ./instances/androidApp/build/outputs/apk/release/*.apk
            ./instances/wearApp/build/outputs/apk/release/*.apk
          tag_name: ${{ steps.properties.outputs.makeevrserg-project-version-string }}
          name: ${{ steps.properties.outputs.makeevrserg-project-name }} - ${{ steps.properties.outputs.makeevrserg-project-version-string }}
          draft: false
          prerelease: false
          generate_release_notes: true
          body: |-
            :construction: Work in Progress